@import 'src/styles/mixins';

.dropdown {
  position: relative;

  .options {
    position: absolute;
    z-index: 99;
    top: 120%;
    padding: 6px 0;
    @include flex(column, center, space-between, no-wrap);
    gap: 6px;
    background: #fff;
    box-shadow: $block-shadow;
    border-radius: 4px;

    &_open {
      animation: slideIn 0.5s;

      @keyframes slideIn {
        from {
          top: 0;
          opacity: 0;
        }

        to {
          top: 120%;
          opacity: 1;
        }
      }
    }

    &_close {
      animation: slideOut 0.5s;

      @keyframes slideOut {
        from {
          top: 120%;
          opacity: 1;
        }

        to {
          top: 0;
          opacity: 0;
        }
      }
    }

    .option {
      padding-left: 13px;
      width: 100%;
      height: 33px;
      @include flex(row, center, flex-start, no-wrap);
      border-radius: 0;

      &:hover {
        background: $light-blue;
      }

      &_icon {
        margin-right: 9px;
        min-width: 18px;
        width: 18px;
        min-height: 18px;
        height: 18px;
        @include flex(row, center, center);
      }

      &_value {
        @include text-control(14px, 21px);
        color: $dark;
      }
    }
  }
}
