@import "src/styles/mixins";

.create_form {
  max-width: 100%;
  overflow-x: hidden;
  @include grid(48% 52%, repeat(auto-fill, auto), 0);

  @include b(tablet) {
    @include grid(repeat(2, auto), repeat(auto-fill, auto), 0);
  }

  @include b(mobile) {
    @include flex(column);
    overflow-x: auto;
  }
}

.column {
  &_grey {
    margin: 30px auto;
    max-width: 400px;
    @include grid(1fr, repeat(auto-fill, min-content), 30px);
    align-content: flex-start;
    justify-items: left;
    justify-content: center;

    @include b(tablet) {
      margin: 30px;
    }

    @include b(mobile) {
      margin: 30px 10px;
      max-width: 100%;
      @include flex(column, center, flex-start, no-wrap);
    }
  }

  &_white {
    max-width: 747px;
    padding: 30px 54px 50px;
    @include flex(column, flex-start, flex-start, no-wrap);
    background: #fff;
    border-left: 1px solid $border-line;

    @include b(mobile) {
      max-width: 100%;
      padding: 30px 10px 20px;
    }

    span + span {
      margin-top: 4px;
    }

    &_block {
      box-sizing: border-box;
      margin-top: 40px;
      max-width: 440px;
      width: 100%;
      @include grid(100%, repeat(auto-fill, auto), 30px);

      @include b(mobile) {
        max-width: 100%;
      }
    }
  }
}

.title {
  color: #000;
  @include text-control(18px, 27px, 700);

  @include b(mobile) {
    @include text-control(14px, 21px, 700);
  }
}

.grey_text {
  @include text-control(13px, 20px);
  color: $grey-text;

  @include b(mobile) {
    @include text-control();
  }
}

.uploader {
  padding: 40px 20px;
  width: 400px;
  min-height: 237px;
  @include flex(column, center, space-between, no-wrap);
  background-color: #fff !important;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%238A8A8AFF' stroke-width='3' stroke-dasharray='5%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") !important;
  border-radius: 30px !important;

  @include b(mobile) {
    width: 100%;
    padding: 20px;
    min-height: 174px;
    height: 100%;
  }

  .grey_text {
    text-align: center;
  }

  &_btn {
    width: 150px;
    height: 40px;
    @include flex(row, center, center);
    background: $blue-gradient;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
  }
}

.delete_btn {
  margin-bottom: 20px;
  padding: 1px;
  width: 102px;
  height: 40px;

  &_cover {
    margin-bottom: 20px;
    padding: 1px;
    width: 150px;
    height: 40px;
  }

  &_content {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    @include flex(row, center, center, no-wrap);
    gap: 9px;

    span {
      color: #000;
      font-weight: 700;
    }
  }
}

.preview {
  width: 100%;

  &_container {
    width: 100%;
    @include flex(row, center, center);

    img, audio, video {
      max-width: 400px;
      max-height: 300px;

      @include b(mobile) {
        max-width: 100%;
      }
    }
  }
}

.selling {
  width: 100%;
  @include flex(row, center, space-between, no-wrap);

  &_text {
    @include flex(column, flex-start, flex-start, no-wrap);

    span + span {
      margin-top: 7px;
    }
  }
}

.price {
  width: 100%;

  span {
    margin-top: 10px;
  }
}

.row {
  @include flex(row, flex-start, space-between, no-wrap);
  gap: 40px;
}

.add_hashtag {
  margin-right: 5px;
  @include text-control(17px, 21px, 700);
}

.hashtags {
  margin: 10px;
  @include flex(row, center, flex-start);
  gap: 15px;

  &_btn {
    padding: 5px 10px;
    height: 40px;

    span {
      margin-right: 10px;
    }
  }
}

.submit {
  width: 150px;
  height: 40px;

  @include b(mobile) {
    width: 100%;
  }
}
