@import 'src/styles/mixins';

.price_input {
  width: 100%;

  input::placeholder {
    color: $grey-text;
  }
}

.arrow_up {
  transform: rotate(180deg);
}

.currency {
  width: max-content;
  @include flex(row, center, flex-start, no-wrap);
  gap: 5px;
  background: transparent !important;
}

.currencies_list {
  width: 100px;
}

.option {
  @include flex(row, center, flex-start);
  gap: 11px;

  &_name {
    @include text-control(13px, 20px);
    color: $grey-text;
  }

  &_value {
    font-weight: 700;
  }
}

.button {
  width: 100%;
  height: 40px;
  font-weight: 700;

  &_cancel {
    border: 1px solid #000;
    color: #000 !important;
  }
}
