{"swagger":"2.0","info":{"title":"Cosplayer NFT","description":"Cosplayer","version":"v1"},"host":"cosplayer.rocknblock.io","schemes":["https"],"basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"Basic":{"type":"basic"}},"security":[{"Basic":[]}],"paths":{"/account/comment/":{"post":{"operationId":"account_comment_create","description":"leave a comment","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"text":{"type":"string"},"token_id":{"type":"number"}}}}],"responses":{"200":{"description":"comment made"},"404":{"description":"token not found"}},"tags":["account"]},"delete":{"operationId":"account_comment_delete","description":"delete a comment","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"comment_id":{"type":"number"}}}}],"responses":{"200":{"description":"comment deleted"},"403":{"description":"cannot delete other user comment"},"404":{"description":"comment not found"}},"tags":["account"]},"parameters":[]},"/account/followers/{address}/":{"get":{"operationId":"account_followers_read","description":"post search pattern","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Following"}}},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/account/following/{address}/":{"get":{"operationId":"account_following_read","description":"post search pattern","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Following"}}},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/account/get_metamask_message/":{"get":{"operationId":"account_get_metamask_message_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["account"]},"parameters":[]},"/account/get_random_cover/":{"get":{"operationId":"account_get_random_cover_list","description":"get random cover","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Cover"}},"400":{"description":"error"}},"tags":["account"]},"parameters":[]},"/account/metamask_login/":{"post":{"operationId":"account_metamask_login_create","description":"","parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/MetamaskLogin"}}],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/MetamaskLogin"}}},"tags":["account"]},"parameters":[]},"/account/self/":{"get":{"operationId":"account_self_list","description":"get self info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/SelfUser"}},"401":{"description":"user not found"}},"tags":["account"]},"patch":{"operationId":"account_self_partial_update","description":"update single user's info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"display_name":{"type":"string"},"avatar":{"type":"object"},"bio":{"type":"string"},"custom_url":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"site":{"type":"string"},"country":{"type":"string"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/UserSlim"}},"400":{"description":"attr: this attr is occupied"},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[]},"/account/self/follow/":{"post":{"operationId":"account_self_follow_create","description":"follow user","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"error"},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[]},"/account/self/like/":{"post":{"operationId":"account_self_like_create","description":"like token","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"liked/unliked"},"400":{"description":"error"},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[]},"/account/self/like_comment/":{"post":{"operationId":"account_self_like_comment_create","description":"like comment","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"liked/unliked"},"400":{"description":"error"},"404":{"description":"comment not found"}},"tags":["account"]},"parameters":[]},"/account/self/unfollow/":{"post":{"operationId":"account_self_unfollow_create","description":"unfollow user","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"error"},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[]},"/account/set_user_cover/":{"post":{"operationId":"account_set_user_cover_create","description":"set cover","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"cover":{"type":"string","format":"binary"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"error"}},"tags":["account"]},"parameters":[]},"/account/verification/":{"post":{"operationId":"account_verification_create","description":"like token","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["bio","email"],"type":"object","properties":{"url":{"type":"string"},"address":{"type":"string"},"role":{"type":"string"},"bio":{"type":"string"},"twitter":{"type":"string"},"media":{"type":"string"},"instagram":{"type":"string"},"website":{"type":"string"},"email":{"type":"string"}}}}],"responses":{"200":{"description":"Verification request sent"},"400":{"description":"Form already sent"},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[]},"/account/{param}/":{"get":{"operationId":"account_read","description":"get other user's info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}},"401":{"description":"user not found"}},"tags":["account"]},"parameters":[{"name":"param","in":"path","required":true,"type":"string"}]},"/activity/":{"get":{"operationId":"activity_list","description":"get activity","parameters":[{"name":"network","in":"query","type":"string"},{"name":"type","in":"query","type":"string"},{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[]},"/activity/notification/":{"get":{"operationId":"activity_notification_list","description":"get user notifications, return last 5","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"post":{"operationId":"activity_notification_create","description":"Mark activity as viewed. Method 'all' - marked all activity as viewed.","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"activity_id":{"type":"number"},"method":{"type":"string"}}}}],"responses":{"200":{"description":"Marked as viewed"}},"tags":["activity"]},"parameters":[]},"/activity/price_history/{id}":{"get":{"operationId":"activity_price_history_read","description":"get price history","parameters":[{"name":"period","in":"query","description":"day, week, month, year","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[{"name":"id","in":"path","required":true,"type":"string"}]},"/activity/{address}/":{"get":{"operationId":"activity_read","description":"get user activity","parameters":[{"name":"network","in":"query","type":"string"},{"name":"type","in":"query","type":"string"},{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/activity/{address}/following/":{"get":{"operationId":"activity_following_list","description":"get user activity","parameters":[{"name":"network","in":"query","type":"string"},{"name":"type","in":"query","type":"string"},{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/rates/":{"get":{"operationId":"rates_list","description":"rate request","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/UsdRate"}}},"tags":["rates"]},"parameters":[]},"/store/autocomplete_hashtag/":{"get":{"operationId":"store_autocomplete_hashtag_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/bids/make_bid/":{"post":{"operationId":"store_bids_make_bid_create","description":"make_bid","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"token_id":{"type":"number"},"amount":{"type":"number"},"quantity":{"type":"number"}}}}],"responses":{"201":{"description":"","schema":{"type":"object","properties":{"token_id":{"type":"number"},"amount":{"type":"number"},"quantity":{"type":"number"}}}},"400":{"description":"you cant buy token"}},"tags":["store"]},"parameters":[]},"/store/buy/":{"post":{"operationId":"store_buy_create","description":"buy_token","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"},"tokenAmount":{"type":"number"},"sellerId":{"type":"string"}}}}],"responses":{"200":{"description":"Response with buyed token","schema":{"type":"object","properties":{"initial_tx":{"type":"object"},"nonce":{"type":"number"},"gasPrice":{"type":"number"},"gas":{"type":"number"},"to":{"type":"string"},"value":{"type":"number"},"data":{"type":"object"},"id_order":{"type":"string"},"whoIsSelling":{"type":"string"},"tokenToBuy":{"type":"object"},"tokenAddress":{"type":"string"},"id":{"type":"number"},"amount":{"type":"number"},"tokenToSell":{"type":"object"},"feeAddresses":{"type":"array","items":{"type":"string"}},"feeAmount":{"type":"array","items":{"type":"number"}},"signature":{"type":"string"}}}},"400":{"description":"you cant buy token"}},"tags":["store"]},"parameters":[]},"/store/create_token/":{"post":{"operationId":"store_create_token_create","description":"token_creation","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string"},"standart":{"type":"string"},"total_supply":{"type":"number"},"currency":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"},"minimal_bid":{"type":"number"},"creator_royalty":{"type":"number"},"collection":{"type":"number"},"details":{"type":"object"},"selling":{"type":"string"},"start_auction":{"type":"date-time"},"end_auction":{"type":"date-time"},"digital_key":{"type":"string"},"tag":{"type":"string"},"media":{"type":"string","format":"binary"},"cover":{"type":"string","format":"binary"},"format":{"type":"string"},"hashtags":{"type":"array","items":{"type":"string"}}}}}],"responses":{"200":{"description":"Response with created token","schema":{"type":"object","properties":{"id":{"type":"number"},"total_supply":{"type":"number"},"available":{"type":"number"},"price":{"type":"number"},"USD_price":{"type":"number"},"owner":{"type":"string"},"creator":{"type":"string"},"collection":{"type":"string"},"standart":{"type":"string"},"details":{"type":"object"}}}}},"tags":["store"]},"parameters":[]},"/store/end_auction/{token_id}/":{"post":{"operationId":"store_end_auction_create","description":"end if auction and take the greatest bet","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"token":{"type":"string"}}}}],"responses":{"200":{"description":"Response with buyed token","schema":{"type":"object","properties":{"initial_tx":{"type":"object"},"nonce":{"type":"number"},"gasPrice":{"type":"number"},"gas":{"type":"number"},"to":{"type":"string"},"value":{"type":"number"},"data":{"type":"object"},"id_order":{"type":"string"},"whoIsSelling":{"type":"string"},"tokenToBuy":{"type":"object"},"tokenAddress":{"type":"string"},"id":{"type":"number"},"amount":{"type":"number"},"tokenToSell":{"type":"object"},"feeAddresses":{"type":"array","items":{"type":"string"}},"feeAmount":{"type":"array","items":{"type":"number"}},"signature":{"type":"string"}}}},"400":{"description":"cant sell token"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/favorites/":{"get":{"operationId":"store_favorites_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/fee/":{"get":{"operationId":"store_fee_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/get_bids/{token_id}/":{"get":{"operationId":"store_get_bids_read","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/get_random_token/":{"get":{"operationId":"store_get_random_token_list","description":"","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Token"}},"404":{"description":"Token not found"}},"tags":["store"]},"parameters":[]},"/store/get_total_count/":{"get":{"operationId":"store_get_total_count_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/hot/":{"get":{"operationId":"store_hot_list","description":"get hot tokens","parameters":[{"name":"sort","in":"query","type":"string"},{"name":"tag","in":"query","type":"string"},{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TokenFull"}}}},"tags":["store"]},"parameters":[]},"/store/hot_bids/":{"get":{"operationId":"store_hot_bids_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/liked/{user_id}/":{"get":{"operationId":"store_liked_read","description":"get tokens liked by address","parameters":[{"name":"network","in":"query","type":"string"},{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}},"401":{"description":"user not found"}},"tags":["store"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/store/max_price/":{"get":{"operationId":"store_max_price_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/most_bidded/":{"get":{"operationId":"store_most_bidded_list","description":"get hot auction","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"401":{"description":"user not found"}},"tags":["store"]},"parameters":[]},"/store/related/{id}/":{"get":{"operationId":"store_related_read","description":"get related","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Token"}},"401":{"description":"user not found"}},"tags":["store"]},"parameters":[{"name":"id","in":"path","required":true,"type":"string"}]},"/store/remove-reject/":{"post":{"operationId":"store_remove-reject_create","description":"Remove rejected token or collection","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"},"type":{"type":"string"}}}}],"responses":{"200":{"description":"success"}},"tags":["store"]},"parameters":[]},"/store/report/":{"post":{"operationId":"store_report_create","description":"report page","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"page":{"type":"string"},"message":{"type":"string"},"token":{"type":"string"}}}}],"responses":{"200":{"description":"your report sent to admin"},"400":{"description":"report not sent to admin"}},"tags":["store"]},"parameters":[]},"/store/search/":{"post":{"operationId":"store_search_create","description":"post search pattern","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"text":{"type":"string"},"page":{"type":"number"}}}},{"name":"type","in":"query","description":"Search by: items, users, collections","type":"string"},{"name":"is_verified","in":"query","type":"boolean"},{"name":"max_price","in":"query","type":"number"},{"name":"order_by","in":"query","description":"For tokens: date, price, likes, recently_sold. \n For users: created, followers, tokens_created","type":"string"},{"name":"on_sale","in":"query","type":"boolean"},{"name":"currency","in":"query","type":"string"},{"name":"page","in":"query","type":"number"},{"name":"network","in":"query","type":"string"},{"name":"creator","in":"query","type":"string"},{"name":"owner","in":"query","type":"string"},{"name":"hashtag","in":"query","type":"string"},{"name":"hidden","in":"query","type":"boolean"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}}},"tags":["store"]},"parameters":[]},"/store/set_cover/":{"post":{"operationId":"store_set_cover_create","description":"set cover","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"},"cover":{"type":"string","format":"binary"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"error"}},"tags":["store"]},"parameters":[]},"/store/support/":{"post":{"operationId":"store_support_create","description":"support view","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"email":{"type":"string"},"message":{"type":"string"},"token":{"type":"string"}}}}],"responses":{"200":{"description":"your report sent to admin"},"400":{"description":"report not sent to admin"}},"tags":["store"]},"parameters":[]},"/store/tags/":{"get":{"operationId":"store_tags_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/track_transaction/":{"post":{"operationId":"store_track_transaction_create","description":"transaction_tracker","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"tx_hash":{"type":"string"},"token":{"type":"number"},"ownership":{"type":"string"},"amount":{"type":"number"}}}}],"responses":{"201":{"description":"","schema":{"type":"object","properties":{"tx_hash":{"type":"string"},"token":{"type":"number"},"ownership":{"type":"string"},"amount":{"type":"number"}}}}},"tags":["store"]},"parameters":[]},"/store/transfer/{token}/":{"post":{"operationId":"store_transfer_create","description":"transfer_owned","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"address":{"type":"string"},"amount":{"type":"number"}}}}],"responses":{"200":{"description":"Response with prepared transfer tx","schema":{"type":"object","properties":{"tx":{"type":"string"}}}},"400":{"description":"you can not transfer tokens that don't belong to you"}},"tags":["store"]},"parameters":[{"name":"token","in":"path","required":true,"type":"string"}]},"/store/verificate_bet/{token_id}/":{"get":{"operationId":"store_verificate_bet_read","description":"verificate bet","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Bet"}},"400":{"description":"verificate bet not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/{id}/":{"get":{"operationId":"store_read","description":"get token info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"401":{"description":"user not found"}},"tags":["store"]},"patch":{"operationId":"store_partial_update","description":"update owned token info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"selling":{"type":"boolean"},"minimal_bid":{"type":"number"},"price":{"type":"number"},"currency":{"type":"string"},"start_auction":{"type":"date-time"},"end_auction":{"type":"date-time"},"hidden":{"type":"boolean"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"this token doesn't belong to you"},"401":{"description":"user not found"}},"tags":["store"]},"parameters":[{"name":"id","in":"path","required":true,"type":"string"}]},"/store/{token_id}/burn/":{"post":{"operationId":"store_burn_create","description":"token burn","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"amount":{"type":"number"}}}}],"responses":{"200":{"description":"Response with prepared transfer tx","schema":{"type":"object","properties":{"tx":{"type":"string"}}}}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]}},"definitions":{"Following":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"twitter":{"title":"Twitter","type":"string","readOnly":true,"minLength":1},"instagram":{"title":"Instagram","type":"string","readOnly":true,"minLength":1},"facebook":{"title":"Facebook","type":"string","readOnly":true,"minLength":1},"site":{"title":"Site","type":"string","readOnly":true,"minLength":1},"created_tokens":{"title":"Created tokens","type":"string","readOnly":true},"owned_tokens":{"title":"Owned tokens","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","readOnly":true,"minLength":1},"custom_url":{"title":"Custom url","type":"string","readOnly":true,"minLength":1},"bio":{"title":"Bio","type":"string","readOnly":true,"minLength":1},"is_verificated":{"title":"Is verificated","type":"boolean","readOnly":true},"country":{"title":"Country","type":"string","readOnly":true,"minLength":1},"id":{"title":"Id","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"followers_count":{"title":"Followers count","type":"string","readOnly":true},"tokens":{"title":"Tokens","type":"string","readOnly":true}}},"Cover":{"type":"object","properties":{"id":{"title":"Id","type":"string","readOnly":true},"owner":{"title":"Owner","type":"string","readOnly":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"cover_ipfs":{"title":"Cover ipfs","type":"string","readOnly":true,"minLength":1}}},"MetamaskLogin":{"type":"object","properties":{"access_token":{"title":"Access token","type":"string"},"code":{"title":"Code","type":"string"},"address":{"title":"Address","type":"string"},"msg":{"title":"Msg","type":"string"},"signed_msg":{"title":"Signed msg","type":"string"}}},"SelfUser":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"id":{"title":"Id","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"country":{"title":"Country","type":"string","maxLength":50,"x-nullable":true},"cover":{"title":"Cover","type":"string","readOnly":true},"follows":{"title":"Follows","type":"string","readOnly":true},"follows_count":{"title":"Follows count","type":"string","readOnly":true},"followers":{"title":"Followers","type":"string","readOnly":true},"followers_count":{"title":"Followers count","type":"string","readOnly":true},"likes":{"title":"Likes","type":"string","readOnly":true}}},"UserSlim":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"id":{"title":"Id","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"country":{"title":"Country","type":"string","maxLength":50,"x-nullable":true}}},"User":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"id":{"title":"Id","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"country":{"title":"Country","type":"string","maxLength":50,"x-nullable":true},"cover":{"title":"Cover","type":"string","readOnly":true},"follows":{"title":"Follows","type":"string","readOnly":true},"follows_count":{"title":"Follows count","type":"string","readOnly":true},"followers":{"title":"Followers","type":"string","readOnly":true},"followers_count":{"title":"Followers count","type":"string","readOnly":true}}},"UsdRate":{"type":"object","properties":{"rate":{"title":"Rate","type":"string","format":"decimal","x-nullable":true},"symbol":{"title":"Symbol","type":"string","maxLength":20,"x-nullable":true},"image":{"title":"Image","type":"string","maxLength":500,"x-nullable":true}}},"Currency":{"type":"object","properties":{"rate":{"title":"Rate","type":"string","format":"decimal","x-nullable":true},"symbol":{"title":"Symbol","type":"string","maxLength":20,"x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"x-nullable":true},"image":{"title":"Image","type":"string","maxLength":500,"x-nullable":true}}},"Creator":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"twitter":{"title":"Twitter","type":"string","readOnly":true,"minLength":1},"instagram":{"title":"Instagram","type":"string","readOnly":true,"minLength":1},"facebook":{"title":"Facebook","type":"string","readOnly":true,"minLength":1},"site":{"title":"Site","type":"string","readOnly":true,"minLength":1},"created_tokens":{"title":"Created tokens","type":"string","readOnly":true},"owned_tokens":{"title":"Owned tokens","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","readOnly":true,"minLength":1},"custom_url":{"title":"Custom url","type":"string","readOnly":true,"minLength":1},"bio":{"title":"Bio","type":"string","readOnly":true,"minLength":1},"is_verificated":{"title":"Is verificated","type":"boolean","readOnly":true},"country":{"title":"Country","type":"string","readOnly":true,"minLength":1},"id":{"title":"Id","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true}}},"CollectionSlim":{"required":["name"],"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"id":{"title":"Id","type":"string","readOnly":true},"name":{"title":"Name","type":"string","maxLength":50,"minLength":1},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true}}},"Token":{"required":["name","total_supply","currency","creator","collection"],"type":"object","properties":{"is_selling":{"title":"Is selling","type":"string","readOnly":true},"is_auc_selling":{"title":"Is auc selling","type":"string","readOnly":true},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"string","readOnly":true},"like_count":{"title":"Like count","type":"string","readOnly":true},"tags":{"title":"Tags","type":"string","readOnly":true},"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"available":{"title":"Available","type":"string","readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"USD_price":{"title":"Usd price","type":"string","readOnly":true},"owners":{"title":"Owners","type":"string","readOnly":true},"standart":{"title":"Standart","type":"string","readOnly":true},"creator":{"$ref":"#/definitions/Creator"},"collection":{"$ref":"#/definitions/CollectionSlim"},"minimal_bid":{"title":"Minimal bid","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"details":{"title":"Details","type":"object","x-nullable":true},"royalty":{"title":"Royalty","type":"string","readOnly":true},"is_liked":{"title":"Is liked","type":"string","readOnly":true},"selling":{"title":"Selling","type":"boolean"},"updated_at":{"title":"Updated at","type":"string","format":"date-time","readOnly":true},"start_auction":{"title":"Start auction","type":"string","format":"date-time","x-nullable":true},"end_auction":{"title":"End auction","type":"string","format":"date-time","x-nullable":true},"format":{"title":"Format","type":"string","maxLength":10,"minLength":1,"x-nullable":true},"digital_key":{"title":"Digital key","type":"string","readOnly":true},"bids":{"title":"Bids","type":"string","readOnly":true},"highest_bid":{"title":"Highest bid","type":"string","readOnly":true},"highest_bid_USD":{"title":"Highest bid usd","type":"string","readOnly":true},"minimal_bid_USD":{"title":"Minimal bid usd","type":"string","readOnly":true},"network":{"title":"Network","type":"string","readOnly":true},"sellers":{"title":"Sellers","type":"string","readOnly":true},"comment_count":{"title":"Comment count","type":"string","readOnly":true}}},"TokenFull":{"required":["name","total_supply","currency","creator","collection"],"type":"object","properties":{"is_selling":{"title":"Is selling","type":"string","readOnly":true},"is_auc_selling":{"title":"Is auc selling","type":"string","readOnly":true},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"string","readOnly":true},"like_count":{"title":"Like count","type":"string","readOnly":true},"tags":{"title":"Tags","type":"string","readOnly":true},"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"available":{"title":"Available","type":"string","readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"USD_price":{"title":"Usd price","type":"string","readOnly":true},"owners":{"title":"Owners","type":"string","readOnly":true},"standart":{"title":"Standart","type":"string","readOnly":true},"creator":{"$ref":"#/definitions/Creator"},"collection":{"$ref":"#/definitions/CollectionSlim"},"minimal_bid":{"title":"Minimal bid","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"details":{"title":"Details","type":"object","x-nullable":true},"royalty":{"title":"Royalty","type":"string","readOnly":true},"is_liked":{"title":"Is liked","type":"string","readOnly":true},"selling":{"title":"Selling","type":"string","readOnly":true},"updated_at":{"title":"Updated at","type":"string","format":"date-time","readOnly":true},"start_auction":{"title":"Start auction","type":"string","format":"date-time","x-nullable":true},"end_auction":{"title":"End auction","type":"string","format":"date-time","x-nullable":true},"format":{"title":"Format","type":"string","maxLength":10,"minLength":1,"x-nullable":true},"digital_key":{"title":"Digital key","type":"string","readOnly":true},"bids":{"title":"Bids","type":"string","readOnly":true},"highest_bid":{"title":"Highest bid","type":"string","readOnly":true},"highest_bid_USD":{"title":"Highest bid usd","type":"string","readOnly":true},"minimal_bid_USD":{"title":"Minimal bid usd","type":"string","readOnly":true},"network":{"title":"Network","type":"string","readOnly":true},"sellers":{"title":"Sellers","type":"string","readOnly":true},"comment_count":{"title":"Comment count","type":"string","readOnly":true},"history":{"title":"History","type":"string","readOnly":true},"service_fee":{"title":"Service fee","type":"string","readOnly":true},"currency_service_fee":{"title":"Currency service fee","type":"string","readOnly":true},"USD_service_fee":{"title":"Usd service fee","type":"string","readOnly":true},"internal_id":{"title":"Internal id","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"owner_auction":{"title":"Owner auction","type":"string","readOnly":true},"views":{"title":"Views","type":"string","readOnly":true},"comments":{"title":"Comments","type":"string","readOnly":true},"hashtags":{"title":"Hashtags","type":"string","readOnly":true}}},"Bet":{"required":["user"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"amount":{"title":"Amount","type":"string","format":"decimal","x-nullable":true},"quantity":{"title":"Quantity","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"user":{"$ref":"#/definitions/Creator"},"state":{"title":"State","type":"string","enum":["Pending","Failed","Committed","Burned","Expired","Hidden"]}}}}}