@import 'src/styles/mixins';

.currency {
  width: max-content;
  @include flex(row, center, flex-start, no-wrap);
  gap: 5px;
  background: transparent !important;
}

.currencies_list {
  left: unset;
  right: 0;
  padding: 0 6px !important;
  width: 100px;
  grid-gap: 0 !important;

  button + button {
    border-top: 1px solid $border-line;
  }

  button {
    padding: 0 4px !important;

    div {
      margin-right: 10px;
    }
  }
}

.default {
  width: 32px;
  height: 32px;
  background: $dark-grey;
}

.arrow_up {
  transform: rotate(180deg);
}
