@import 'src/styles/mixins';

.currency {
  width: max-content;
  @include flex(row, center, flex-start, no-wrap);
  gap: 5px;
  background: transparent !important;

  img {
    width: 32px;
    height: 32px;
  }
}

.static {
  cursor: initial;
}

.currencies_list {
  padding: 0 6px !important;
  width: 80px;
  grid-gap: 0 !important;

  button + button {
    border-top: 1px solid $border-line;
  }

  button {
    padding: 0 4px !important;

    div {
      margin-right: 10px;
    }
  }
}

.default {
  width: 32px;
  height: 32px;
  background: $dark-grey;
}

.arrow {
  transition-duration: 0.3s;

  &_up {
    transform: rotate(180deg);
    transition-duration: 0.3s;
  }
}
