@import 'src/styles/mixins';

$bg-default: transparent;
$color-default: black;

.button {
  box-sizing: border-box;
  width: fit-content;

  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;

  background-color: transparent;
  border: none;
  @include flex(row, center, center, nowrap);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
  }

  &.default {
    color: $color-default;
    background: $bg-default;
    border-radius: 20px;
  }

  &.blue {
    color: #fff;
    background: $blue-gradient;
    border-radius: 20px;
  }

  &.disabled {
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
}
