@import 'src/styles/mixins';

$bg-default: transparent;
$color-default: black;

.button {
  box-sizing: border-box;
  width: fit-content;

  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;

  background-color: transparent;
  border: none;
  @include flex(row, center, center, nowrap);

  &:hover,
  &:focus {
    filter: drop-shadow($block-shadow);
  }

  &.default {
    color: $color-default;
    background: $bg-default;
    border-radius: 20px;
  }

  &.blue {
    color: #fff;
    background: $blue-gradient;
    border-radius: 20px;
  }

  &.white {
    color: $dark;
    background: #fff;
    border-radius: 20px;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
