@import "src/styles/mixins";

.search_menu {
  position: absolute;
  top: 120%;
  padding: 10px 10px 16px;
  width: 300px;
  height: 331px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: $block_shadow;
  animation: slideIn 0.5s;

  @keyframes slideIn {
    from {
      opacity: 0;
      left: -500px;
    }

    to {
      opacity: 1;
      left: 0;
    }
  }

  .tabs {
    @include flex(row, center, space-between);

    .tab {
      width: 90px;
      height: 40px;
      font-weight: 700;
    }
  }

  .result {
    margin-top: 20px;
    height: 245px;
    overflow-y: scroll;
    @include flex(column, flex-start, flex-start, no-wrap);
    gap: 20px;
  }
}
