@import 'src/styles/mixins';
@import 'src/styles/variables';

.token_card {
  width: 310px;
  height: 511px;
  background: #fff;
  border: 1px solid $border-line;
  box-sizing: border-box;
  border-radius: 12px;
  @include flex(column, flex-start, space-between, no-wrap);

  &:hover {
    box-shadow: $block-shadow;
  }

  .header {
    padding: 8px 15px 7px;
    width: 100%;
  }

  .preview {
    width: 308px;
    height: 307px;
    overflow: hidden;
    border-radius: 0 !important;

    &:hover, &:focus {
      filter: none;
    }

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .footer {
    padding: 12px 15px 17px;
    width: 100%;

    .info {
      padding-bottom: 12px;
      border-bottom: 1px solid $border-line;
      @include flex(row, flex-start, space-between, no-wrap);

      &_actions {
        @include flex(row, center, flex-start);
        gap: 10px;

        .action {
          @include flex(row, center, flex-start, no-wrap);
          gap: 5px;

          span {
            font-weight: 400;
          }
        }

        .like_img {
          &:hover {
            stroke: #000;
          }
        }
      }

      .price {
        @include flex(column, flex-end, flex-start);

        &_value {
          @include flex(row, center, flex-end);
          font-weight: 700;
          color: $grey;

          img {
            margin-right: 5px;
            max-width: 14px;
            max-height: 14px;
          }
        }

        &_usd {
          font-weight: 700;
          color: $grey;
        }
      }
    }

    .description {
      margin-top: 11px;

      &_text {
        @include ellipsis();
      }

      .tags {
        margin-top: 6px;
        @include flex(row, center, flex-start);
        gap: 5px;

        a {
          span {
            font-weight: 400;
            color: $grey;

            &:hover {
              @include gradient-text($blue-gradient);
            }
          }
        }
      }
    }

    .current_owner {
      margin-top: 6px;
      @include flex(row, center, flex-start);
      color: $grey;

      img {
        margin-right: 5px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }
    }

    .blue_text {
      font-weight: 700;
      color: $blue;
    }
  }
}
