@import 'src/styles/mixins';

.comment {
  width: 100%;
  min-width: 100%;
  @include flex(row, flex-start, space-between, no-wrap);

  &_content {
    @include flex(row, flex-start, flex-start, no-wrap);

    img {
      min-width: 32px;
      min-height: 32px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  &_info {
    margin-left: 11px;
    width: fit-content;
    @include flex(column, flex-start, flex-start, no-wrap);
    gap: 4px;
  }

  &_author {
    font-weight: 700;
  }

  &_text {
    width: 300px;
    @include text-control(14px, 21px);
    word-wrap: break-word;

    @include b(mobile) {
      width: 60vw;
    }
  }

  &_footer {
    color: $grey;
  }

  .actions {
    @include flex(row, center, flex-end, no-wrap);
    gap: 10px;
  }

  .action {
    width: 28px;
    height: 28px;
    @include flex(row, center, center);
    border: 1px solid $border-line;
    border-radius: 50%;

    &:hover {
      background: $border-line;
    }

    &_active {
      margin-top: 1px;
      margin-left: 1px;
    }

    img {
      width: 14px;
    }
  }
}
