@import 'src/styles/variables';
@import 'src/styles/mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Poppins, sans-serif;
  font-size: $font-size-default;
  font-weight: 400;
  line-height: $line-height-default;

  color: black;
  background: $bg-color;

  span,
  div {
    font-feature-settings: 'liga' off;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a,
input,
textarea,
button {
  font-family: inherit;
}

.main_wrapper {
  position: relative;
  z-index: 0;
  padding-top: 70px;

  @include grid(1fr, auto min-content, 0px);

  overflow: hidden;

  min-height: 100vh;

  @include b(mobile) {
    padding-top: 48px;
  }
}

.page_wrapper {
  margin: 0 auto;
  padding: 0 70px;
  overflow-x: hidden;

  width: 100%;
  max-width: 1440px;

  @include b(desktop) {
    padding: 0 15px;
  }

  @include b(mobile) {
    padding: 0 5px;
  }
}

.modal {
  &-root {
    z-index: 100;

    overflow: hidden;
  }

  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 100%;

    background: rgb(0 0 0 / 80%);
  }

  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 50px 0;

    overflow: auto;

    width: 100%;

    outline: 0;
    @include flex(row, center, center);
  }

  &-header {
    padding: 0 19px 0 30px;
    @include flex(row, center, space-between);
    width: 100%;
    height: 52px;
    background: $light-grey;
    border-radius: 15px 15px 0 0;

    &_title {
      font-weight: 700;
    }
  }

  &-inner {
    padding: 30px;
    @include flex(column, center, flex-start);
    gap: 10px;
  }

  &-box {
    padding: 44px 30px 30px;
    @include flex(column, flex-start, flex-start, no-wrap);
    gap: 15px;

    &-header {
      width: 100%;
    }

    &-description {
      margin-top: 5px;
      @include text-control(13px, 20px);
      text-align: center;

      &-grey {
        color: $grey;
      }
    }

    &-button {
      width: 100%;
      height: 40px;
      font-weight: 700;
    }

    &-option {
      @include flex(row, center, flex-start);
      gap: 11px;

      &-name {
        @include text-control(13px, 20px);
        color: $grey-text;
      }

      &-value {
        font-weight: 700;
      }
    }
  }

  &-close-btn {
    position: absolute;
    top: 19px;
    right: 20px;
  }

  &-title {
    width: 100%;
    @include text-control(18px, 27px, 700);
    text-align: center;
  }

  &-text {
    @include text-control(13px, 20px);
    text-align: center;
  }
}

.default-currency-icon {
  width: 32px;
  height: 32px;
  background: $dark-grey;
  border-radius: 50%;
}

.rc-tabs-nav-wrap {
  width: 100%;
}

.rc-tabs-nav-list {
  margin-bottom: 22px;
  @include flex(row, center, space-between, no-wrap);
  border-bottom: 1px solid $border-line;

  @include b(mobile) {
    width: 100vw;
    overflow-x: scroll;
    @include grid(repeat(5, max-content), 1fr);
  }
}

.rc-tabs-tab {
  padding: 0 5px 14px;
  font-weight: 700;
  color: $dark;
  cursor: pointer;
}

.rc-tabs-tab-active {
  padding: 0 5px 11px;
  border-bottom: 3px solid $blue;
  color: #000;
}

.rc-tabs-ink-bar,
.rc-tabs-nav-operations,
.rc-tabs-dropdown {
  display: none;
}

.mobile_hidden {
  @include b(mobile) {
    display: none;
  }
}

.grey-box {
  padding: 10px;
  @include flex(row, center, space-between, no-wrap);
  width: 100%;
  background: $light-grey;
  border-radius: 12px;
}

.text {
  &-red {
    color: $red;
  }

  &-blue {
    @include gradient-text();
  }
}
