@import 'src/styles/variables';
@import 'src/styles/mixins';

.token_cards {
  position: relative;
  width: 100%;
  margin: 78px 0 158px;
  @include grid(repeat(4, 1fr), repeat(auto-fill, 1fr), 20px);
  justify-items: center;

  @include b(1330) {
    @include grid(repeat(3, 1fr), repeat(auto-fill, 1fr), 20px);
  }

  @include b(1110) {
    margin-bottom: 178px;
    @include grid(repeat(2, 1fr), repeat(auto-fill, 1fr), 10px);
  }

  @include b(mobile) {
    margin-top: 85px;
    margin-bottom: 0;
    padding-bottom: 30px;
    @include grid(1fr, repeat(auto-fill, 1fr), 20px);
  }
}

.not_found {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100px;
  text-align: center;
  vertical-align: center;
  @include text-control(18px, 27px, 700);

  @include b(mobile) {
    padding: 20px;
  }
}
