@import 'src/styles/variables';
@import 'src/styles/mixins';

.home_wrapper {
  .token_cards {
    width: 100%;
    margin: 28px 0 28px;
    @include grid(repeat(4, 1fr), repeat(auto-fill, 1fr), 20px);
    justify-items: center;

    @include b(desktop) {
      @include grid(repeat(3, 1fr), repeat(auto-fill, 1fr), 20px);
    }

    @include b(1110) {
      @include grid(repeat(2, 1fr), repeat(auto-fill, 1fr), 20px);
    }

    @include b(925) {
      @include grid(1fr, repeat(auto-fill, 1fr), 20px);
    }
  }
}
