@import 'src/styles/mixins';

.nav_links {
  margin: 11px 0 12px;
  max-width: 418px;
  @include grid(repeat(3, auto), repeat(2, 1fr));
  column-gap: 50px;

  @include b(tablet) {
    column-gap: 15px;
  }

  @include b(mobile) {
    max-width: 300px;
    height: 46px;
    @include flex(row, center, center);
    gap: 10px;
  }

  a, button {
    width: max-content;
    outline: none;
    opacity: 0.6;
    color: #000;

    @include b(mobile) {
      opacity: 1;
    }

    &:hover,
    &:focus {
      opacity: 1;
      @include gradient-text();
    }
  }
}

.black_links {
  margin: 20px 16px;
  @include flex(row, center, center);
  gap: 15px;

  a, button {
    opacity: 1;
  }
}
