@import 'src/styles/mixins';

.form {
  position: fixed;
  top: calc(100vh - 60px);
  z-index: 2;
  margin-left: -30px;
  padding: 10px 30px;
  width: 480px;
  height: 60px;
  background: #fff;
  border-top: 1px solid $blue;
  @include flex(row, center, space-between, no-wrap);
  gap: 23px;

  @include b(tablet) {
    top: unset;
    bottom: 0;
    width: 100%;
  }

  @include b(mobile) {
    margin-left: -10px;
  }

  &_input {
    width: 100%;
    border: none;
    font-weight: 700;
  }

  &_submit {
    width: 91px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
  }
}
