@import 'src/styles/mixins';

.token_menu {
  max-width: 479px;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  border-left: 1px solid $border-line;

  @include b(tablet) {
    max-width: 100%;
    height: 100%;
  }

  &_header {
    padding: 12px 30px 12px 35px;
    @include flex(row, center, space-between, no-wrap);
    border-bottom: 1px solid $border-line;

    @include b(mobile) {
      padding: 15px 10px;
    }

    .purchase_btn {
      width: 150px;
      height: 40px;
      font-weight: 700;
    }
  }

  .not_for_sale {
    @include text-control(18px, 21px, 700);
    color: $grey;
  }

  .content {
    padding: 10px 30px;

    @include b(mobile) {
      padding: 10px;
    }

    .activity {
      @include flex(row, center, space-between, no-wrap);

      @include b(mobile) {
        @include flex(row, center, space-between, wrap);
        gap: 15px;
      }

      &_actions {
        @include flex(row, center, flex-start);
        gap: 5px;
      }

      &_btn {
        padding: 0 7px;
        @include flex(row, center, center);
        min-width: 28px;
        height: 28px;
        border: 1px solid $border-line;
        border-radius: 14px;
        @include text-control(14px, 21px, 700);
        color: #000;
      }

      .price {
        @include flex(row, center, flex-start, no-wrap);
        gap: 5px;

        img {
          width: 14px;
          height: 14px;
        }

        .blue_text {
          @include gradient-text();
        }

        .grey_text {
          color: $grey;
        }
      }
    }

    .description {
      margin: 37px 6px 54px;

      &_text {
        margin-bottom: 6px;

        .bold_text {
          font-weight: 700;
        }
      }

      .tags {
        @include flex(row, center, flex-start);
        gap: 5px;

        .tag {
          border-radius: 0;

          span {
            font-weight: 400;

            &:hover {
              @include gradient-text();
            }
          }
        }
      }
    }

    .tabs {
      margin-bottom: 60px;
    }
  }
}
