@import 'src/styles/mixins';

.creator_card {
  @include flex(row, center, flex-start, no-wrap);
  height: 35px;

  .owner_logo {
    margin-right: 11px;
    width: 32px;
    height: 32px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .owner_info {
    height: 35px;
    &_name {
      @include flex(row, center, flex-start);
      margin-right: 2px;
      font-weight: 700;
    }

    &_verified {
      margin-left: 2px;
    }

    &_location {
      color: $grey;
      @include text-control(11px, 16.5px, 700);

      &:hover {
        color: #000;
      }
    }
  }
}
