@import "src/styles/mixins";

.create_wrapper {
  margin: 0 -70px;
  width: calc(100% + 140px);

  @include b(desktop) {
    margin: 0 -15px;
    width: calc(100% + 30px);
  }

  @include b(mobile) {
    margin: 0 -5px;
    width: calc(100% + 10px);
  }
}
