@import 'src/styles/mixins';

.login_form {
  width: 100%;
  margin-top: 10px;

  .inputs {
    min-width: 100%;
    @include grid(1fr, auto auto, 20px);
  }

  .checkers {
    margin: 20px 0 30px;
    @include grid(1fr, 1fr 1fr, 14px);

    .checker {
      @include flex(row, center, flex-start, no-wrap);

      .checkbox {
        @include flex(row, center, center);

        input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .submit_btn {
    width: 100%;
    height: 40px;
    font-weight: 700;
  }
}
