@import 'src/styles/mixins';

.categories {
  margin-top: 18px;
  padding: 0 33px;
  @include flex(row, center, space-between, no-wrap);
  gap: 13px;

  .category {
    padding: 10px;
    @include flex(row, center, flex-start, no-wrap);
    gap: 10px;

    &_name {
      font-weight: 700;
      color: $dark;
    }
  }

  .active {
    padding: 1px;
    max-height: 40px;
    background: $blue-gradient;
    border-radius: 20px;

    &_content {
      padding: 9px 9px 8px;
      @include flex(row, center, flex-start, no-wrap);
      gap: 10px;
      background: #fff;
      border-radius: 20px;
    }
  }
}
