@import 'src/styles/mixins';

.footer {
  position: fixed;
  bottom: 0;
  padding: 14px 70px 13px;
  width: 100%;
  height: 100px;
  background: #ffffff;
  border-top: 1px solid $border-line;
  @include flex(row, flex-start, space-between, no-wrap);
  gap: 15px;

  @include b(desktop) {
    padding: 15px 15px 21px;
    min-height: 100px;
    height: unset;
  }

  @include b(mobile) {
    margin: 0 -10px;
    width: 100vw;
    height: 185px;
    @include flex(column, center, space-between);
  }
}

.description {
  @include flex(column, flex-start, flex-start);
  width: 310px;

  @include b(tablet) {
    width: 200px;
  }

  @include b(mobile) {
    display: none;
  }

  &_text {
    opacity: 0.6;
  }
}
