.control {
  background: transparent !important;
}

.options {
  left: unset;
  top: 15px !important;
  right: 0;
  width: 170px;
}

.arrow_up {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.arrow_down {
  transition-duration: 0.3s;
}
