.control {
  min-width: 100%;
  background: transparent !important;

  input {
    cursor: pointer !important;
  }
}

.options {
  top: 80px !important;
  left: 0;
  width: 100%;
}

.arrow_up {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.arrow_down {
  transition-duration: 0.3s;
}
